@import "../utilidades/variables";
@import "../utilidades/mixin";

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de header y nav */
header {
    padding: 1rem;
    font-family: $fontHead;
    background-color: $colHeadFoot;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    img {
        width: 85px;
        height: 85px;
    }
    nav {
        width: 40%;
        button{
            align-items: end;
            justify-content: end;
        }
       
        .navbar-nav.navbar-right {
        
            position: relative;
            padding-bottom: 1rem;
            a{
                text-decoration: none;
                color: $colFoot;
            }
            li {
                padding-top: 0.5rem;
                text-align: right;
            }
        }
    }
}

/* header {
    height: 15vh;
    font-family: $fontHead;
    font-size: small;
    background-color: $colHeadFoot;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 8px 15px $colShadow;

    .divLogo {
        padding-left: 1.3rem;
        img {
            padding-top: 0.3rem;
            height: 92%;
        }
    }
   
    nav {
        align-self: flex-end;
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            a {
                color: white;
                text-decoration: none;
                .homeButton {
                        display: none;
                    }
                }
            }
        }
    } 
 */
/* Estilo de footer */
footer {
    font-family: $fontFoot;
    width: 100%;
    position: relative;
    top: 1rem;
    box-shadow: 0px -8px 15px $colShadow;
    background-color: $colHeadFoot;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    img {
        @include iconos(46px, 46px)
    }

    .seguinos,
    .derechos {
        @include gridSpan(1, 1);
        color: $colFoot;
    }

    .redes {
        @include gridSpan(1, 2);
        justify-self: center;
    }

}