%titulos {
    font-size: 38px;
    margin-top: 1.5rem;
    text-align: center;
}

%destacar {
    margin-top: 2rem;
    font-size: 19px;
    text-decoration: underline;
    text-shadow: 1px 1px 5px rgb(96, 211, 112);
}

%producto {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}